# ------------------------------------
# シークレット情報 (Secrets)
# ------------------------------------
# .envファイルを、全部無視する
*.env
*.env.*
# ただし、.env.exampleは、無視しない（どんな設定が必要か、他の人に見せるため）
!.env.example


# ------------------------------------
# フロントエンド (Next.js)
# ------------------------------------
# 大量の部品ファイル。これは、`npm install`すれば、誰でも作れるから不要
/frontend/node_modules

# Next.jsが、ビルド時に自動で作るフォルダ
/frontend/.next
/frontend/out

# Next.jsのエラーログとか
/frontend/npm-debug.log*
/frontend/yarn-error.log


# ------------------------------------
# バックエンド (Django)
# ------------------------------------
# Pythonが、自動で作るキャッシュファイル
__pycache__/
*.pyc

# 仮想環境フォルダ（今回はDockerだから不要だけど、念のため）
.venv/
venv/


# ------------------------------------
# OS / Editor
# ------------------------------------
# macOSが自動で作るファイル
.DS_Store

# VS Codeの設定ファイル（個人設定は、共有しない）
.vscode/

/backend/staticfiles
/backend/Hanten/staticfiles