# Django本体
django

# APIを作るための、事実上の標準ライブラリ
djangorestframework

# フロントエンドとの通信を許可するため
django-cors-headers

# PostgreSQLとDjangoを繋ぐための部品
psycopg2-binary

# WebSocket(Django Channels)を動かすための部品
#channels
uvicorn

gunicorn
dj-database-url

django-cors-headers

whitenoise[brotli]

svix

clerk-django
requests

cryptography

# Django Channlesみたいなやつ入れてないけど大丈夫なのかな